.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.pokemon  a {
  text-decoration: none;
  color: cornflowerblue;
  cursor: pointer;
  font-weight: 600;
}

.pokemon a:hover {
  color:rgb(74, 113, 184);
}